---
import Layout from '@layouts/Layout.astro';
import Reminders from '@components/Reminders.vue';
import SignedIn from '@components/SignedIn.vue';
import SignedOut from '@components/SignedOut.vue';
---

<Layout
	title="Reminder"
	description="En Reminder, guarda todas esas peque침as pero importantes cosas que necesitas recordar para ma침ana, accesible desde cualquiera de tus dispositivos."
>
	<SignedOut client:load>
		<div class="card bg-base-200 w-full max-w-xs shadow mx-auto mt-6">
			<div class="card-body">
				<h2 class="card-title">Inicia sesi칩n...</h2>
				<p>
					Ve a las opciones de usuario para iniciar sesi칩n y ver tus datos.
				</p>
			</div>
		</div>
	</SignedOut>
	<SignedIn client:load>
		<Reminders client:visible />
	</SignedIn>
</Layout>
